footer{
    .footer1{
        width: 100%;
        height: auto;
        background-color: #73923A;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
                .footer_info{
                        background-color: #73923A;
                        font-size: 14px;
                                div, img, p {
                                        display: flex;
                                        align-items: center;
                                        background: none;
                                        color: #FFFFFF;
                                        margin: 5px; 
                                    }  
                                .footer_title{
                                        background: none;
                                        color: #FFFFFF;
                                         font-size: 28px;
                                }
                                a{
                                        background: none;
                                        color: #FFFFFF;
                                        text-decoration: none;
                                }
                }
                .footer_horaire{
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                            span{
                               height: 100px;
                               width: 1px;
                            }
                            
                }

                .footer_horaires, li{
                    display: flex;
                    flex-direction: column;
                    background: none;
                    list-style: none;   
                    text-align: start;
                    margin-inline: 10px;
                    padding: 5px;
                }
                
                .footer_info_lu{
                        background-color: #73923A;
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        font-size: 12px; 
                            a{
                            background: none;
                            color: #FFFFFF;
                            text-decoration: none;
                            }
                }
    }

    .footer2{
                ul, li, a{
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    list-style: none;
                    text-decoration: none;
                    font-size: 12px;
                    margin-inline: 5px;
                    color: #1414139c;
                }
    } 
}




