.footer1{
    width: 100%;
    height: auto;
    background-color: #73923A;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    .footer_info{
    background-color: #73923A;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    div, img, p{
        display: flex;
        align-items: center;
        background: none;
        color: #FFFFFF;
        margin: 5px;
    }
    .footer_title{
        background: none;
        color: #FFFFFF;
        
        font-size: 28px;
    }
    .footer_title_lu{
     margin-bottom: 25px; 
     
     background: none;
        color: #FFFFFF;
        
        font-size: 28px; 
    }
    
    a{
        background: none;
        color: #FFFFFF;
        text-decoration: none;
    }
    .footer_horaire{
        
        span{
            height: 100px;
            width: 1px;
        }
        ul, li{
        display: flex;
        flex-direction: column;
        background: none;
        list-style: none;   
        text-align: start;
        margin-inline: 10px;
        padding: 5px;
        }
    }
    }
}

.footer2{
    ul, li, a{
        display: flex;
        align-content: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        margin-inline: 5px;
        color: #1414139c;
    }
}


@media screen and (max-width:1080px){
    .footer1{
        width: 100%;
        height: auto;
        background-color: #73923A;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        .footer_info{
        background-color: #73923A;
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 12px;
        div, img, p{
            display: flex;
            align-items: center;
            background: none;
            color: #FFFFFF;
            margin: 5px;
        }
        .footer_title{
            background: none;
            color: #FFFFFF;
            
            font-size: 24px;
        }
        .footer_title_lu{
         margin-bottom: 25px; 
         
         background: none;
            color: #FFFFFF;
            
            font-size: 24px; 
        }
        
        a{
            background: none;
            color: #FFFFFF;
            text-decoration: none;
        }
        .footer_horaire{
            
            span{
                height: 100px;
                width: 1px;
            }
            ul, li{
            display: flex;
            flex-direction: column;
            background: none;
            list-style: none;   
            text-align: start;
            margin-inline: 10px;
            padding: 5px;
            }
        }
        }

         
    }
     
    
}